@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Tomorrow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .death-center {
    @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
.vertical {
  writing-mode: vertical-lr;
  text-orientation: revert;
}

:root {
  --pag-max-width: 140px;
  --pag-height: 8px;
  --pag-height-active: calc(var(--pag-height) - 4px);
  --border: 0.5vmin solid #3b373c;
}
.image-circle {
  clip-path: circle(30% at 30% 50%);
  shape-outside: circle(30% at 30% 50%);
}
.filterGray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(30%);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Tomorrow", "Montserrat", sans-serif;
  overflow-x: hidden;

  /* height: 100vh;
  width: 100vw; */
}
/* font-family: 'Days One', sans-serif;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Tomorrow', sans-serif; */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  width: 100vw;
}
.sticky {
  position: -webkit-sticky;
}

html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* .index::-webkit-scrollbar-track {
  background: theme("primaryBlue.750");
}
.index::-webkit-scrollbar-thumb {
  background: theme("primaryBlue.400");
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.web::-webkit-scrollbar-thumb {
  background: theme("primaryBlue.400");
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.web::-webkit-scrollbar-track {
  background: theme("primaryBlue.750");
}
.digital::-webkit-scrollbar-thumb {
  background: theme("pink.DEFAULT");
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
} */
/* html::-webkit-scrollbar-thumb {
  background: theme("primaryBlue.400");
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
} */

/* Fonts */
.days-one-font {
  font-family: "Days One", sans-serif;
}
.box {
  --mask: radial-gradient(80.5px at 50% 108px, #000 99%, #0000 101%)
      calc(50% - 72px) 0/144px 51% repeat-x,
    radial-gradient(80.5px at 50% -72px, #0000 99%, #000 101%) 50% 36px/144px
      calc(51% - 36px) repeat-x,
    radial-gradient(80.5px at 50% calc(100% - 108px), #000 99%, #0000 101%)
      calc(50% - 72px) 100%/144px 51% repeat-x,
    radial-gradient(80.5px at 50% calc(100% + 72px), #0000 99%, #000 101%) 50%
      calc(100% - 36px) / 144px calc(51% - 36px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.box-top {
  --mask: radial-gradient(118.51px at 50% 159px, #000 99%, #0000 101%)
      calc(50% - 106px) 0/212px 100%,
    radial-gradient(118.51px at 50% -106px, #0000 99%, #000 101%) 50% 53px/212px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.index-bg {
  background: linear-gradient(
    172.62deg,
    #001a5c 20.84%,
    /* rgba(26, 76, 204, 0.794628) 40.31%, hsla(223, 77%, 36%, 0.71) 52.59%, */
      rgba(0, 51, 184, 0.711727) 80.28%
  );
}

.digital-bg {
  background: #c74f80;
}
.bg-academy {
  background-color: orange;
}
.web-bg {
  background: linear-gradient(
    180deg,
    #0a5fdd 0%,
    #0b3c8e 23.79%,
    #113a8a 51.56%,
    #132a71 71.87%,
    #0a22a2 100%
  );
}
.digital-font h1,
.digital-font h2 {
  font-family: "Days One", sans-serif;
}
/* .digital-font h3, */
/* .digital-font h4, */
/* .digital-font h5 { */
#bg {
  background: rgba(255, 150, 162, 1);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  /* transition: background 0.6s ease; */
  width: 100%;
}
#bg .top {
  background: linear-gradient(#c74f80, rgba(255, 150, 162, 0));
  background-image: linear-gradient(rgb(199, 79, 128), rgba(255, 150, 162, 0));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  top: 0;
}
section#bg .bottom {
  background: linear-gradient(rgba(255, 150, 162, 0), #c74f80);
  background-image: linear-gradient(rgba(255, 150, 162, 0), rgb(199, 79, 128));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  bottom: 0;
}
section#bg .top,
section#bg .bottom {
  height: 66vh;
  left: 0;
  position: absolute;
  right: 0;
  transition: background 0.6s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.nav-bg-color {
  background: linear-gradient(
    270.09deg,
    #103bab -0.47%,
    rgba(32, 83, 214, 0) 102.81%
  );
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.3);
}
.bg-brands-index-color {
  background: linear-gradient(
    180deg,
    rgba(21, 45, 138, 0.06) 1.14%,
    #0d1e60 123.57%
  );
}

.btn-bg-color {
  background: linear-gradient(180deg, #18c3ff 0%, #255be7 100%);
}
.btn-web-bg-color {
  background: linear-gradient(180deg, #76c5f1 0%, #179de8 100%);
}

.btn-digital-bg-color {
  background: linear-gradient(180deg, #f26ab5 0%, rgba(232, 11, 133, 100) 100%);
}
.btn-logistics-bg-color {
  background: linear-gradient(180deg, #f0884d 0%, #e65300 100%);
}
.btn-academy-bg-color {
  background: linear-gradient(180deg, #f0604d 0%, #e60000 100%);
}
.wavySvg path {
  animation: oceanWave 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wavySvg path:nth-child(2) {
  animation-delay: 1s;
}
.wavySvg path:nth-child(3) {
  animation-delay: 3s;
}
.wavySvg path:nth-child(4) {
  animation-play-state: paused;
}
/* @keyframes oceanWave {
  0% {
    
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  20% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-20-25-136 190.5-260 234.5S1634 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  24% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-120 190.5-260 234.5S1634 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  30% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-90 190.5-260 234.5S1634 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  40% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234.5S1550 80 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  50% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234.5S1634 98 1425.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  60% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234.5S1634 98 1420.5 195 1300.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  70% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234.5S1634 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  80% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234.5S1634 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  90% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234.5S1634 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
  100% {
    d: path(
      "M562 511.5c-192 9.004-446.042 60.161-623 211.511h344.5L1947 636.839l10-634.828c-139-25-136 190.5-260 234.5S1634 98 1420.5 195 1332.2 535.755 989 428c-343.201-107.755-235 74.496-427 83.5Z"
    );
  }
} */

@keyframes oceanWave {
  0% {
    d: path(
      "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500"
    );
  }
  25% {
    d: path(
      "M0,100 C220,100,440,292,660,292 C880,292,1100,100,1320,100 L1320 500 L0 500"
    );
  }
  50% {
    d: path(
      "M0,192 C220,290,440,290,660,192 C880,100,1100,100,1320,192 L1320 500 L0 500"
    );
  }
  75% {
    d: path(
      "M0,292 C220,292,440,100,660,100 C880,100,1100,292,1320,292 L1320 500 L0 500"
    );
  }
  100% {
    d: path(
      "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500"
    );
  }
}

.firstPath {
  background: linear-gradient(
    162.74deg,
    rgba(20, 72, 150, 0.58) 17.5%,
    #083962 69.08%,
    rgba(7, 84, 107, 0) 83.67%,
    rgba(44, 119, 142, 0) 83.67%,
    #0c354f 83.67%
  );
}
.secondPath {
  fill: linear-gradient(
    148.32deg,
    #084b85 49.53%,
    rgba(20, 93, 155, 0.53125) 54.92%,
    rgba(18, 76, 143, 0.541867) 74.37%,
    rgba(12, 71, 159, 0.55) 89.28%
  );
}
.thirdPath {
  background: linear-gradient(162.04deg, #136fbe 49.88%, #5fa4de 139%);
}
.fourthPath {
  background: linear-gradient(
    180deg,
    #5da0d8 0.6%,
    rgba(25, 111, 184, 0.635417) 56.77%,
    rgba(29, 49, 236, 0) 119.13%
  );
  color: #ffffff;
}
.rotate-x-180 {
  transform: rotateX(180deg);
}

.bg-hidden {
  overflow: hidden !important;
}

.card-preview-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.invertColor {
  filter: invert(100);
}
.hypens-auto {
  hyphens: auto;
}

.color {
  color: hsl(327, 98%, 26%);
}
.blury {
  overflow-y: hidden;
}
.blury-bg {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;
}
.blury-noProps {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
}
.text-shadow {
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
}
.Toastify__toast-container--top-right {
  top: 6rem !important;
}
@media screen and (min-width: 1280px) {
  html {
    scroll-padding-top: 12.5rem;
  }
}
@media screen and (min-width: 640px) {
  /* here we will add the stles we want
  for the screen with min -width of 746 px*/
  .hypens-auto {
    hyphens: none;
  }
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-blend {
  background-color: rgb(31, 202, 39);
  background-blend-mode: multiply;
}

.color {
  color: hsl(3, 100%, 64%);
}

.one-edge-shadow {
  box-shadow: 0 8px 6px -6px black;
}
